services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: tracking
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
      - "9001:9001"
    
    environment:
     MQTT_HOST: mosquitto
     MQTT_PORT: "1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro




  simulator:
    build: ./simulator
    ports:
      - "5683:5683/udp"   # utile pour tester depuis ta machine

  
  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend/index.html:/usr/share/nginx/html/index.html:ro

      
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    environment:
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_NAME: tracking
      DB_USER: user
      DB_PASSWORD: password
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
    command: ["python", "-m", "uvicorn", "backend:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

volumes:
  pgdata: