services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: tracking
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  mosquitto:
    image: eclipse-mosquitto:2
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf:ro

  frontend:
    build: ./frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend/index.html:/usr/share/nginx/html/index.html:ro
      - ./frontend/log.jpeg:/usr/share/nginx/html/log.jpeg:ro

  backend:
    build: ./backend
    network_mode: host
    environment:
      DB_HOST: 127.0.0.1
      DB_PORT: "5432"
      DB_NAME: tracking
      DB_USER: user
      DB_PASSWORD: password

      MQTT_HOST: 127.0.0.1
      MQTT_PORT: "1883"

      GPS_URI: "coap://127.0.0.1:5683/gps"
    volumes:
      - ./backend:/app
    command: ["python", "-m", "uvicorn", "backend:app", "--host", "0.0.0.0", "--port", "8000", "--reload"]

  otbr:
    image: openthread/otbr:latest
    container_name: otbr
    privileged: true
    network_mode: host
    restart: unless-stopped
    environment:
      OTBR_LOG_LEVEL: 4

  gps:
    build: .
    container_name: th-gps
    privileged: true
    network_mode: host
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./scripts:/work/scripts
    command: ["bash","-lc","/work/scripts/start_sensor.sh gps"]
    restart: unless-stopped

  temperature:
    build: .
    container_name: th-temp
    privileged: true
    environment:
      COAP_PORT: "5684"
      BATTERY_URI: "coap://127.0.0.1:5684/temperature"
    network_mode: host
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./scripts:/work/scripts
    command: ["bash","-lc","/work/scripts/start_sensor.sh temperature"]
    restart: unless-stopped

  battery:
    build: .
    container_name: th-battery
    privileged: true
    network_mode: host
    environment:
      COAP_PORT: "5685"
      BATTERY_URI: "coap://127.0.0.1:5685/battery"
    devices:
      - /dev/net/tun:/dev/net/tun
    volumes:
      - ./scripts:/work/scripts
    command: ["bash","-lc","/work/scripts/start_sensor.sh battery"]
    restart: unless-stopped

volumes:
  pgdata: